</head> <body>
  <nav>
  <i class="fas fa-film fa-2x"></i>
  <a 
  href="/planets/new" class=<%= title ==='Add Planet' ? 'active':""%>
  >
  ADD PLANET
  </a>
  <a 
    href="/explorers/new" class=<%= title ==='ADD EXPLORER' ? 'active':""%>
    >
    ADD EXPLORER
    </a>
    <a 
    href="/planets" class=<%= title ==='All Planets' ? 'active':""%>
    >
    ALL PLANETS
    </a>
  </nav>
  